<div class="flex min-w-0 flex-auto flex-col items-center sm:justify-center">
    <div class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow">
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <!-- Logo -->
            <div class="w-12">
                <img src="images/logo/logo.svg" />
            </div>

            <!-- Título -->
            <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">
                Cadastre-se
            </div>
            <div class="mt-0.5 flex items-baseline font-medium">
                <div>Já tem uma conta?</div>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/pages/authentication/sign-in']">Login
                </a>
            </div>

            <!-- Alerta -->
            @if (showAlert) {
            <fuse-alert class="mt-8" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>
            }

            <!-- Seleção de tipo de usuário -->
            <div class="flex justify-center gap-4 mt-4">
                <button type="button" class="fuse-mat-button" mat-stroked-button
                    [color]="signUpForm.get('roleId').value === 3 ? 'primary' : undefined"
                    (click)="selectUserType('student')">
                    Sou Aluno
                </button>
                <button type="button" class="fuse-mat-button" mat-stroked-button
                    [color]="signUpForm.get('roleId').value === 2 ? 'primary' : undefined"
                    (click)="selectUserType('teacher')">
                    Sou Professor
                </button>
            </div>

            <!-- Formulário de Cadastro -->
            <form class="mt-8" [formGroup]="signUpForm">
                <!-- Campo de Nome -->
                <mat-form-field class="w-full">
                    <mat-label>Nome completo</mat-label>
                    <input id="name" matInput [formControlName]="'name'" />
                    @if (signUpForm.get('name').hasError('required')) {
                    <mat-error> O nome completo é obrigatório </mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Telefone</mat-label>
                    <input id="phone" matInput [formControlName]="'phone'" />
                    @if (signUpForm.get('phone').hasError('required')) {
                    <mat-error> O telefone é obrigatório </mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Endereço</mat-label>
                    <input id="address" matInput [formControlName]="'address'" />
                    @if (signUpForm.get('address').hasError('required')) {
                    <mat-error> O endereço é obrigatório </mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Data de nascimento</mat-label>
                    <input id="bornDate" matInput type="date" [formControlName]="'bornDate'" />
                    @if (signUpForm.get('bornDate').hasError('required')) {
                    <mat-error> A data de nascimento é obrigatória </mat-error>
                    }
                </mat-form-field>

                <!-- Campo de Email -->
                <mat-form-field class="w-full">
                    <mat-label>Endereço de e-mail</mat-label>
                    <input id="email" matInput [formControlName]="'email'" />
                    @if (signUpForm.get('email').hasError('required')) {
                    <mat-error> O endereço de e-mail é obrigatório </mat-error>
                    }
                    @if (signUpForm.get('email').hasError('email')) {
                    <mat-error>
                        Por favor, insira um endereço de e-mail válido
                    </mat-error>
                    }
                </mat-form-field>

                <!-- Campo de Documento -->
                <mat-form-field class="w-full">
                    <mat-label>Documento</mat-label>
                    <input id="document" matInput [formControlName]="'document'" />
                    @if (signUpForm.get('document').hasError('required')) {
                    <mat-error> O documento é obrigatório </mat-error>
                    }
                </mat-form-field>

                <!-- Campo de Senha -->
                <mat-form-field class="w-full">
                    <mat-label>Senha</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField />
                    <button mat-icon-button type="button" (click)="
                            passwordField.type === 'password'
                                ? (passwordField.type = 'text')
                                : (passwordField.type = 'password')
                        " matSuffix>
                        @if (passwordField.type === 'password') {
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        }
                        @if (passwordField.type === 'text') {
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                        }
                    </button>
                    <mat-error> A senha é obrigatória </mat-error>
                </mat-form-field>


                <!-- Botão de Envio -->
                <button class="fuse-mat-button-large mt-6 w-full" mat-flat-button [color]="'primary'"
                    [disabled]="signUpForm.disabled" (click)="signUp()">
                    @if (!signUpForm.disabled) {
                    <span> Criar conta </span>
                    }
                    @if (signUpForm.disabled) {
                    <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    }
                </button>
            </form>
        </div>
    </div>
</div>