<div *ngIf="turma" class="p-6">
    <!-- Preview -->
    <div class="mb-6 text-xl font-semibold">
        Cadastrar Turma
    </div>
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        <!-- Ano -->
        <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Ano</label>
            <input type="number" [(ngModel)]="turma.year"
                class="w-full rounded border px-3 py-2 text-base shadow-sm focus:outline-none focus:ring-2 focus:ring-primary"
                placeholder="Ex: 1, 2, 3..." />
        </div>

        <!-- Sufixo -->
        <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Sufixo</label>
            <input type="text" maxlength="1" [(ngModel)]="turma.suffix"
                (ngModelChange)="turma.suffix = $event.toUpperCase()"
                class="w-full rounded border px-3 py-2 text-base shadow-sm focus:outline-none focus:ring-2 focus:ring-primary"
                placeholder="Ex: A, B, C..." />
        </div>

        <!-- Nível de Ensino -->
        <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Nível de Ensino</label>
            <select [ngModel]="turma.educationLevel" (ngModelChange)="turma.educationLevel = +$event"
                class="w-full rounded border px-3 py-2 text-base shadow-sm focus:outline-none focus:ring-2 focus:ring-primary">
                <option [value]="1">Ensino Fundamental</option>
                <option [value]="2">Ensino Médio</option>
                <option [value]="3">Educação Infantil</option>
            </select>
        </div>

        <!-- Turno -->
        <div>
            <label class="block text-sm font-medium text-gray-700 dark:text-gray-200 mb-1">Turno</label>
            <select [ngModel]="turma.shift" (ngModelChange)="turma.shift = +$event"
                class="w-full rounded border px-3 py-2 text-base shadow-sm focus:outline-none focus:ring-2 focus:ring-primary">
                <option [value]="1">Manhã</option>
                <option [value]="2">Tarde</option>
                <option [value]="3">Noite</option>
            </select>
        </div>

    </div>

    <!-- Botão -->
    <div class="mt-6 flex justify-end">
        <button mat-flat-button color="primary" (click)="createTurma()">
            Salvar
        </button>
    </div>

    <!-- Preview -->
    <div *ngIf="turma.year" class="mt-6 text-xl font-semibold px-2">
        {{ turma.year }}º Ano {{ turma.suffix }} - {{ getEducationLevelName(turma.educationLevel) }} ({{
        getShiftName(turma.shift) }})
    </div>
</div>